<h1>Demonstrating basic HTTP calls to local REST API service </h1>

<h3>Retrieving all heroes</h3>

<button type="button" (click)="retrieveAllHeroes()">Retrieve all heroes</button>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Married</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of allHeroes">
            <td>{{hero.id}}</td>
            <td>{{hero.firstName}}</td>
            <td>{{hero.lastName}}</td>
            <td>{{hero.age}}</td>
            <td>{{hero.married}}</td>
            <td>{{hero.job}}</td>
        </tr>
    </tbody>
</table>

<hr>

<h3>Retrieving hero based on id </h3>

<label for="heroid">Enter hero id :</label>
<input #heroinput type="number" id="heroid">
<br>

<button type="button" (click)="getHeroUsingID(heroinput.value)">Retrieve hero</button>

<p>{{ errorMessage }}</p>

<div *ngIf="singleHero">
    <p>ID : {{singleHero.id}} </p>
    <p>First Name : {{singleHero.firstName}} </p>
    <p>Last Name : {{singleHero.lastName}} </p>
    <p>Age : {{singleHero.age}} </p>
    <p>Married : {{singleHero.married}} </p>
    <p>Job : {{singleHero.job}} </p>
</div>

<hr>

<h3>Retrieving heroes based on first / last names</h3>

<label for="fname">Enter hero first name :</label>
<input #fname type="text" id="fname">
<br>
<label for="lname">Enter hero last name :</label>
<input #lname type="text" id="lname">
<br>

<button type="button" (click)="getHeroesUsingNames(fname.value, lname.value)">Retrieve heroes</button>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Married</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroesWithSpecificNames">
            <td>{{hero.id}}</td>
            <td>{{hero.firstName}}</td>
            <td>{{hero.lastName}}</td>
            <td>{{hero.age}}</td>
            <td>{{hero.married}}</td>
            <td>{{hero.job}}</td>
        </tr>
    </tbody>
</table>


<hr>

<h3>Retrieving heroes based on min and max age</h3>

<label for="minage">Enter min age :</label>
<input #minage type="number" id="minage">
<br>
<label for="maxage">Enter max age :</label>
<input #maxage type="number" id="maxage">
<br>

<button type="button" (click)="getHeroesWithAgeRange(minage.value, maxage.value)">Retrieve heroes</button>

<table class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Married</th>
            <th>Job</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hero of heroesWithAgeRange">
            <td>{{hero.id}}</td>
            <td>{{hero.firstName}}</td>
            <td>{{hero.lastName}}</td>
            <td>{{hero.age}}</td>
            <td>{{hero.married}}</td>
            <td>{{hero.job}}</td>
        </tr>
    </tbody>
</table>
