<h1>Simple demo of async pipe </h1>

<p>The value of timerObservable via numberHolder is {{numberHolder}} </p>

<!-- With the async pipe, we can directly reference the
    Observable in the template without first storing it in a normal property in the subscribe method  -->
<p>The value of timerObservable via async is {{timerObservable$ | async }}</p>

<hr>

<p>Using arrayHolder with ngFor </p>
<ul>
    <li *ngFor="let item of arrayHolder">{{ item }}</li>
</ul>

<p>Using aysnc with ngFor </p>
<ul>
    <li *ngFor="let item of arrayObservable$ | async">{{ item }}</li>
</ul>

<hr>

<p *ngIf="valHolder">Using valHolder with ngIf : Response received with value {{valHolder}}</p>

<p *ngIf="(delayObservable$ | async) as val; else showLoadMessage">Using delayObservable with async in ngIf : Response received with value {{ val }}</p>

<ng-template #showLoadMessage>
    <p>Downloading value from website, please wait .... </p>
</ng-template>