<h1>Reactive Forms Demo</h1>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>

  <!-- Use formArrayName to bind form elements nested in here
  to the actual profiles FormArray object in the main FormGroup model -->
  <div formArrayName="profiles">
    <h3>Profiles</h3>

    <button type="button" (click)="addProfile()">Add new profile</button>

    <!-- Use outer @for loop to iterate over the individual FormGroup items
    within the main profiles FormArray object -->
    @for (profile of profiles.controls;track profile;let profileIndex = $index) {

     <!-- Bind the index of the @for loop to the 
      formGroupName directive to keep track of the FormGroup items stored in 
      the profiles FormArray object -->
      <div [formGroupName]="profileIndex" style="border: 1px solid blue; padding: 5px; margin: 5px;">

        <p>Profile # {{profileIndex + 1}}</p>

        <p>
          <label for="firstname">First Name </label>
          <input type="text" id="firstname" formControlName="firstname">
        </p>

        <p>
          <label for="lastname">Last Name </label>
          <input type="text" id="lastname" formControlName="lastname">
        </p>

        <br>
        <button (click)="removeProfile(profileIndex)">
          Remove Profile
        </button>

        <!-- Use formArrayName to bind form elements nested in here
  to the jobs FormArray object in the current profile FormGroup -->
        <div formArrayName="jobs">
          <h4>Jobs</h4>
          <button type="button" (click)="addJob(profileIndex)">Add info for new job</button>

          <!-- Use inner @for loop to iterate over the individual FormGroup items
    within the main FormArray object -->
          @for (job of jobs(profileIndex).controls; track job; let jobIndex = $index) {

              <!-- Bind the index of the ngFor loop to the 
        formGroupName directive to keep track of the FormGroup items stored in 
        the jobs FormArray object -->
              <div [formGroupName]="jobIndex">
                <p>Job # {{jobIndex + 1}}</p>
  
                <!-- Use formControlName to bind the respective form elements
          to the FormControls within the FormGroup -->
                <label for="jobTitle">Job title </label>
                <input type="text" id="jobTitle" formControlName="jobTitle" />
                <br>
                <label for="years">Years at job </label>
                <input type="number" id="years" formControlName="years" />
                <br>
                <button (click)="removeJob(profileIndex, jobIndex)">
                  Remove Job
                </button>
                <br>
  
              </div>
          
          }
        
        </div>

      </div>      

    }  

  </div>

  <button type="submit">Submit</button>
  <br>

</form>