
<h1>Reactive Forms Demo</h1>

<form [formGroup]="profileForm"  (ngSubmit)="onSubmit()">

  <!-- Creating Radio buttons -->
  <p>Select your favourite programming language:</p>
  @for (language of languages; track language) {
    <label>
      <input type="radio"
      formControlName="favlanguage" [value]="language">
      {{language}}
    </label>
  }


  <!-- Creating check boxes -->
  <p>Select your favourite cars :</p>
  @for (car of favcars.controls; track car;let i = $index) {
    <div formArrayName="favcars">
      <input type="checkbox" [formControlName]="i">
      {{carNames[i]}}
    </div>
  }

  <br>
  <br>

  <button type="submit">Submit</button>

</form>

