
<h1>Reactive Forms Demo</h1>

<form [formGroup]="profileForm"  (ngSubmit)="onSubmit()">

  <!-- Creating Radio buttons -->
  <p>Select your favourite programming language:</p>
  <div *ngFor="let language of languages">
    <label>
      <input type="radio"
      formControlName="favlanguage" [value]="language">
      {{language}}
    </label>
  </div>

    <!-- Creating Drop down list options -->
    <p>Select your favourite country :</p>
  <select formControlName="favcountry">
    <option [value]="country" *ngFor="let country of countries">         
      {{country}}
    </option>
  </select>

  <!-- Creating check boxes -->
  <p>Select your favourite cars :</p>

  <div formArrayName="favcars" *ngFor="let car of favcars.controls; let i = index">
    <input type="checkbox" [formControlName]="i">
    {{carsData[i].name}}
  </div>

  <br>
  <br>

  <button type="submit">Submit</button>

</form>

