.normal {
    font-size: 16px;
}

.medium {
    font-size: 30px;

}

.large {
    font-size: 50px;
} 

.special {
    font-style: italic;
}

.emphasize {
    font-style: bold;
}


.danger {
    color: red;
}

.safe {
    color: green;
}

.borderStyle1{
    border-style: inset;
}

.borderStyle2{
    border-style: groove;
}

.borderColor1{
    border-color: aqua;
}

.borderColor2{
    border-color: yellowgreen;
}

.borderWidth1{
    border-width: 5px;
}

.borderWidth2{
    border-width: 10px;
}