<h1> My first Angular app </h1>

<!-- Single style binding referencing a component property -->
<p [style.font-family]="favFont">The first paragraph</p>

<!-- Single style binding referencing a component method -->
<p [style.color]="getTextColor()">The second paragraph</p>

<!-- Single style binding demonstrating ternary operator expression -->
<p [style.font-size.%]="isSpecial ? 200 : 50" >The third paragraph</p>

<!-- Style Binding Q1 -->
 <p [style.font-family]="cursive">Testing</p>

 <!-- Style Binding Q2 -->
<div>
  <p [style]="divBox1">Testing testing</p>
</div>

<!-- Style Binding Q3 -->
<div>
  <p [style]="divBox2">Testing testing testing</p>
</div>

<br>

<!-- Multiple style binding example -->
<p><img src="/assets/cat.jpg" [style]="styleFirstImage" alt="some cat" >
Cats are sooooo cute ....</p>

<br>
<br>
<br>
<br>

<!-- Multiple style binding example -->
<img src="/assets/dog.jpg" [style]="styleSecondImage" alt="some dog"/>

