<h1>From the root component</h1>

<p>Value of parent counter : {{parentCounter}}</p>

<button (click)="incCounter()">Increment</button>
<button (click)="decCounter()">Decrement</button>

<p>Text from child : {{childText}}</p>
<div style="border: 2px solid black; padding: 10px;">
<!-- Event binding with target event being property from child with @Output decorator -->
<app-first-child 
 [childCounter]="parentCounter"
 (textChanged)="processChangeFromChild($event)" 
 (favColour)="processColourChange($event)"> 
</app-first-child>
</div>
<!-- Q5 -->
<p>Selected colour: {{selectedColour}}</p>

<!-- Q3 -> (favColour) -->