<h1>From the root component</h1>

<p>Value of parent counter : {{parentCounter}}</p>

<button (click)="incCounter()">Increment</button>
<button (click)="decCounter()">Decrement</button>

<div style="border: 2px solid black; padding: 10px;">
  <!-- Q1 -->
   <label for="name">Parent Input Field</label><br>
   <input type="text" id="name" [(ngModel)]="name" placeholder="Enter your name">
   <p>Hello, {{name}}</p>


   <!-- Binding parent property to child property that has @Input decorator -->
<app-first-child 
[childCounter]="parentCounter"
[getName]="name">
</app-first-child>

</div>